@media screen and (min-width: 600px) {
    
    header { 
        div { 
            i {
               visibility: hidden; 
            }
        
           
            
            img {
                display: inline;
                
                
            
            }
        }
    }

    

    

    
    nav {
        a {
        visibility: visible;
    }
        }  

    

}