*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header"  
                         "main main main"
                         "main main main"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    
}

.main-head {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-areas: "logo .  menu about contact";
    background-color: #a51818;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.main-page {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 3fr;
    grid-template-areas: "phone . . . ."
                         "para1 para1 calzones  logo logo"
                         "drink para2 para2 logo logo"
                         ". . . video ."
                         ". para3 para3 para3 .";
    background-color: #d2aa83;
    justify-items: center;
    align-items: center;
    height: 150vh;
}

.footer {
    grid-area: footer;
    background-color: #a51818;
    height: 8vh;
}

header a:hover {
    opacity: 1
}

.link-1 {
    grid-area: menu;
    box-sizing: border-box;
    width: 60%;
    height: 50%;
    margin: auto;
    background-color:#d2aa83;
    border: #f2d6ad;
    border-radius: 5px;
    text-align: center;
    padding-top: 7%;
    font-size: 1em;
    opacity: 0.85;
    transition: 0.3s;
}
.link-2 {
    grid-area: about;
    box-sizing: border-box;
    width: 60%;
    height: 50%;
    margin: auto;
    background-color:#d2aa83;
    border: #f2d6ad;
    border-radius: 5px;
    text-align: center;
    padding-top: 7%;
    font-size: 1em;
    opacity: 0.85;
    transition: 0.3s;
}
.link-3 {
    grid-area: contact;
    box-sizing: border-box;
    width: 60%;
    height: 50%;
    margin: auto;
    background-color:#d2aa83;
    border: #f2d6ad;
    border-radius: 5px;
    text-align: center;
    padding-top: 7%;
    font-size: 1em;
    opacity: 0.85;
    transition: 0.3s;
}
* a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

header >  a:link {

    color:#a51818;
}


header > a:active {
    
    color: #a51818;
}

header > a:visited {

    color: black;
}   


.phone {
    
    grid-area: phone;
    color:#a51818;
    font-size: 3em;
    opacity: 0.85;
    transition: 0.3s;
    
    }  

.phone:hover {
    transform: scale(1.5);
}

.phone > a {
    color: #d2aa83;
}

.logo-big {
    grid-area: logo;
    
}

.calzones {
    grid-area: calzones;
    transition: all 2000ms;
    transition-timing-function: ease;
}

.calzones:hover {
    transform: rotate(30deg);
}

.drinkpic {
    grid-area: drink;
    transition: all 2000ms;
    transition-timing-function: ease;
}

.drinkpic:hover {
    transform: rotate(-30deg);
}

.paragraph-1 {
    grid-area: para1;
    font-size: 2em;
    color: #a51818;
}

.paragraph-2 {
    grid-area: para2;
    font-size: 2em;
    color: #a51818;
}

.paragraph-3 {
    grid-area: para3;
    font-size: 2em;
    color: #a51818;
}

.video {
    grid-area: video;
    border-radius: 5px;
}


